# Data Cleaning

##  Goals

- Create a Dataframe for the first 3 Quarters
- Column for Home and Away Team

In [1]:
import pandas as pd
import numpy as np

In [2]:
NBA_1st = pd.read_csv("data/NBA_1st.csv")
NBA_2nd = pd.read_csv("data/NBA_2nd.csv")
NBA_3rd = pd.read_csv("data/NBA_3rd.csv")
NBA_4th = pd.read_csv("data/NBA_4th.csv")

### Create a Dataframe for the first 3 Quarters

In [3]:
# Dataset feature names:

print(NBA_1st.columns.tolist())

['TEAM', 'MATCH UP', 'GAME DATE', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

In [4]:
# Transform string "Game Date" into DateTime
# Sort values because we want each quarter of a game at the same index number

NBA_1st["GAME DATE"] = pd.to_datetime(NBA_1st["GAME DATE"])
NBA_1st = NBA_1st.sort_values(by = ['GAME DATE',"TEAM"], ascending = False).reset_index(drop = True)

NBA_2nd["GAME DATE"] = pd.to_datetime(NBA_2nd["GAME DATE"])
NBA_2nd = NBA_2nd.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

NBA_3rd["GAME DATE"] = pd.to_datetime(NBA_3rd["GAME DATE"])
NBA_3rd = NBA_3rd.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

NBA_4th["GAME DATE"] = pd.to_datetime(NBA_4th["GAME DATE"])
NBA_4th = NBA_4th.sort_values(by = ["GAME DATE","TEAM"], ascending = False).reset_index(drop = True)

In [5]:
NBA_1st.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,WAS,WAS @ CHA,2022-04-10,L,12,29,13,24,54.2,2,...,25.0,3,9,12,5,1,3,2,6,-3
1,UTA,UTA @ POR,2022-04-10,W,12,16,5,26,19.2,0,...,75.0,4,10,14,4,3,4,1,3,-3
2,TOR,TOR @ NYK,2022-04-10,L,12,22,9,24,37.5,4,...,0.0,3,8,11,6,2,2,1,3,-9
3,SAS,SAS @ DAL,2022-04-10,L,12,29,12,27,44.4,3,...,100.0,3,9,12,6,1,4,0,5,1
4,SAC,SAC @ PHX,2022-04-10,W,12,33,12,22,54.5,6,...,75.0,0,10,10,10,1,2,1,2,9

In [6]:
# Check if rows have the same order

(NBA_4th.TEAM == NBA_1st.TEAM).unique()

array([ True])

In [7]:
NBA_2nd.columns

Index(['TEAM', 'MATCH UP', 'GAME DATE', 'W/L', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB',
       'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-'],
      dtype='object')

In [8]:
total_stats = ['MIN', 'PTS', 'FGM', 'FGA','3PM', '3PA','FTM', 'FTA','OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PF', '+/-']

first_3 = NBA_1st

for stat in total_stats:
    first_3[stat] = NBA_1st[stat] + NBA_2nd[stat] + NBA_3rd[stat]

In [9]:
# Create the percentages manually

first_3["FG%"] = first_3["FGM"] / first_3["FGA"]
first_3["3P%"] = first_3["3PM"] / first_3["3PA"]
first_3["FT%"] = first_3["FTM"] / first_3["FTA"]

In [10]:
first_3.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,FT%,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-
0,WAS,WAS @ CHA,2022-04-10,L,36,82,33,68,0.485294,5,...,0.550000,11,22,33,19,7,8,3,13,-7
1,UTA,UTA @ POR,2022-04-10,W,36,78,24,62,0.387097,5,...,0.735294,12,34,46,16,12,7,4,11,22
2,TOR,TOR @ NYK,2022-04-10,L,36,72,30,70,0.428571,8,...,1.000000,8,27,35,22,12,8,2,10,-1
3,SAS,SAS @ DAL,2022-04-10,L,36,82,29,68,0.426471,6,...,1.000000,7,24,31,16,8,12,2,13,-15
4,SAC,SAC @ PHX,2022-04-10,W,36,86,33,61,0.540984,11,...,0.692308,1,29,30,22,10,8,6,11,9

In [11]:
(first_3.TEAM == NBA_2nd.TEAM).unique()

array([ True])

### Column for Home and Away Team

In [12]:
# If "Match Up" contain a "@" the first named team played an away game
# 1 are the home teams 
# 0 are the away teams

first_3["COURT"] = first_3["MATCH UP"].str.contains('@')
first_3["COURT"] = np.where(first_3["COURT"] == True,0,1)

In [13]:
NBA_4th["COURT"] = NBA_4th["MATCH UP"].str.contains('@')
NBA_4th["COURT"] = np.where(NBA_4th["COURT"] == True,0,1)

In [14]:
first_3.head(10)

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,COURT
0,WAS,WAS @ CHA,2022-04-10,L,36,82,33,68,0.485294,5,...,11,22,33,19,7,8,3,13,-7,0
1,UTA,UTA @ POR,2022-04-10,W,36,78,24,62,0.387097,5,...,12,34,46,16,12,7,4,11,22,0
2,TOR,TOR @ NYK,2022-04-10,L,36,72,30,70,0.428571,8,...,8,27,35,22,12,8,2,10,-1,0
3,SAS,SAS @ DAL,2022-04-10,L,36,82,29,68,0.426471,6,...,7,24,31,16,8,12,2,13,-15,0
4,SAC,SAC @ PHX,2022-04-10,W,36,86,33,61,0.540984,11,...,1,29,30,22,10,8,6,11,9,0
5,POR,POR vs. UTA,2022-04-10,L,36,56,21,60,0.350000,8,...,3,23,26,15,14,8,5,24,-22,1
6,PHX,PHX vs. SAC,2022-04-10,L,36,77,30,77,0.389610,10,...,16,23,39,20,10,6,6,12,-9,1
7,PHI,PHI vs. DET,2022-04-10,W,36,93,35,62,0.564516,4,...,6,24,30,19,10,11,5,21,5,1
8,ORL,ORL vs. MIA,2022-04-10,W,36,101,36,67,0.537313,18,...,5,31,36,26,9,3,3,16,13,1
9,OKC,OKC @ LAC,2022-04-10,L,36,67,29,78,0.371795,6,...,10,25,35,14,5,4,2,11,-28,0

In [15]:
NBA_4th.head()

,TEAM,MATCH UP,GAME DATE,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,OREB,DREB,REB,AST,TOV,STL,BLK,PF,+/-,COURT
0,WAS,WAS @ CHA,2022-04-10,L,12,26,9,26,34.6,3,...,6,4,10,6,4,4,0,3,-9,0
1,UTA,UTA @ POR,2022-04-10,W,12,33,13,20,65.0,4,...,3,11,14,7,5,1,2,5,9,0
2,TOR,TOR @ NYK,2022-04-10,L,12,22,6,22,27.3,4,...,1,7,8,5,2,2,0,7,-10,0
3,SAS,SAS @ DAL,2022-04-10,L,12,38,14,21,66.7,5,...,0,4,4,10,0,3,1,4,5,0
4,SAC,SAC @ PHX,2022-04-10,W,12,30,7,15,46.7,3,...,1,9,10,4,5,1,1,7,-2,0

In [16]:
first_3.to_csv("data/first_3_clean.csv", index = False)
NBA_4th.to_csv("data/NBA_4th_clean.csv", index = False)